<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>

<p>
    On <%= @article.created_at.strftime("%B %d %Y, 1:%M%P") %>
</p>

<p>
    <strong>Text:</strong>
    <%= @article.text %>
</p>

<div style="width:100px; height:auto">
    <% if @article.image.attached? %>
        <%= image_tag (@article.image), style:'width:300%' %>
        <% end %>
<%= link_to 'Article List', articles_path %>
</div>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to "Like (#{@article.likes.count})", article_likes_path(@article), method: :article %>



<%= render 'rating/form' %>
<%= "Average rating: #{@article.ratings.average(:rating)}" %>
 Ratings Include:
<% @article.ratings.each do | r | %>
<%= r.rating %> <br/>

<% end %>